:root {
  color-scheme: light dark;
  --font_color: #fff;
  --font_color2: #999;
  --font_color3: #ccc;
  --font_color4: #888;
  --font_color5: #aaa;
  --blue_color: #307af2;
  --blue_hover_color: #0662f6;
  --blue_click_color: #4b8fff;
  --blue_disable_color: #accafa;
  --blue_bk_color: #eaf1fd;
  --black_color: #171719;
  --black_color2: #28282b;
  --black_color3: #353538;
  --black_color4: #49494c;
  --black_color5: #57575a;
  --yellow_color: #f7b500;
  --yellow_hover_color: #f7a100;
  --yellow_click_color: #f0c13f;
  --yellow_disable_color: #fce199;
  --yellow_bk_color: #fef7e5;
  --orange_color: #fa6400;
  --border_radius: 6px;
  --scrollbar_width: 4px;
  --scrollbar_thumb: rgba(255, 255, 255, 0.3);
}

[hidden] {
  display: none !important;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

button {
  position: relative;
}

input {
  vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

textarea {
  tab-size: 4;
  white-space: pre;
  word-wrap: normal;
}

textarea.success {
  border-color: #8b8 !important;
}

textarea.fail {
  border-color: #f00 !important;
  background-color: rgba(255, 0, 0, 0.05);
}

textarea,
input {
  outline: none;
} /* osx */

.Panel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
}

.TabbedPanel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  width: 100%;
  min-width: 335px;
}

.TabbedPanel .Tabs {
  position: relative;
  display: block;
  width: 100%;
}

.TabbedPanel .Tabs .Tab {
  padding: 10px 9px;
  text-transform: uppercase;
}

.TabbedPanel .Panels {
  position: relative;
  display: block;
  width: 100%;
}

/* Listbox */
.Listbox {
  color: #444;
  background-color: #fff;
  padding: 0;
  width: 100%;
  min-height: 180px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
}

.Listbox .ListboxItem {
  padding: 6px;
  color: #666;
  white-space: nowrap;
}

.Listbox .ListboxItem.active {
  background-color: rgba(0, 0, 0, 0.04);
}

/* CodeMirror */

.CodeMirror {
  position: absolute !important;
  top: 37px;
  width: 100% !important;
  height: calc(100% - 37px) !important;
}

.CodeMirror .errorLine {
  background: rgba(255, 0, 0, 0.25);
}

.CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0 20px;
}

/* outliner */

#outliner .opener {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 4px;
  vertical-align: top;
  text-align: center;
}

#outliner .opener.open:after {
  content: "−";
}

#outliner .opener.closed:after {
  content: "+";
}

#outliner .option {
  border: 1px solid transparent;
}

#outliner .option.drag {
  border: 1px dashed #999;
}

#outliner .option.dragTop {
  border-top: 1px dashed #999;
}

#outliner .option.dragBottom {
  border-bottom: 1px dashed #999;
}

#outliner .type {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #ddd;
  text-align: center;
}

#outliner .type:after {
  content: "●";
}

/* */

#outliner .Scene {
  color: #8888dd;
}

#outliner .Camera {
  color: #dd8888;
}

#outliner .Light {
  color: #dddd88;
}

/* */

#outliner .Object3D {
  color: #aaaaee;
}

#outliner .Mesh {
  color: #8888ee;
}

#outliner .Line {
  color: #88ee88;
}

#outliner .LineSegments {
  color: #88ee88;
}

#outliner .Points {
  color: #ee8888;
}

/* */

#outliner .Geometry {
  color: #aaeeaa;
}

#outliner .Material {
  color: #eeaaee;
}

/* */

#outliner .Script:after {
  content: "◎";
}

/*  */

button {
  color: #555;
  background-color: #ddd;
  border: 0px;
  margin: 0px; /* GNOME Web */
  padding: 5px 8px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
}

button.selected {
  background-color: #fff;
}

input,
textarea {
  border: 1px solid transparent;
  color: #444;
}

input.Number {
  color: #08f !important;
  font-size: 12px;
  border: 0px;
  padding: 2px;
}

select {
  color: #666;
  background-color: #ddd;
  border: 0px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

select:hover {
  background-color: #fff;
}

/* UI */

#resizer,
#resizer-left {
  position: absolute;
  top: 32px;
  right: 350px;
  width: 5px;
  bottom: 0px;
  transform: translatex(2.5px);
  cursor: col-resize;
}

#resizer:hover,
#resizer-left:hover {
  background-color: #08f8;
  transition-property: background-color;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

#resizer:active,
#resizer-left:active {
  background-color: #08f;
}

#resizer {
  right: 350px;
}
#resizer-left {
  left: 345px;
}

#viewport {
  position: absolute;
  top: 32px;
  left: 350px;
  right: 350px;
  bottom: 0;
}

#viewport .Text {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

#script {
  position: absolute;
  top: 32px;
  left: 350px;
  right: 350px;
  bottom: 0;
  opacity: 0.9;
}

#player {
  position: absolute;
  top: 32px;
  left: 350px;
  right: 350px;
  bottom: 0;
}

#menubar {
  position: absolute;
  width: 100%;
  height: 32px;
  background: #eee;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}

#menubar .menu {
  float: left;
  cursor: pointer;
  padding-right: 8px;
}

#menubar .menu.right {
  float: right;
  cursor: auto;
  padding-right: 0;
  text-align: right;
}
#menubar .menu.right button {
  margin-right: 5px;
}
#menubar .menu.right button.active {
  background-color: #fff;
}
#menubar .menu.right button img {
  width: 1em;
}

#menubar .menu .title {
  display: inline-block;
  color: #888;
  margin: 0;
  padding: 8px;
  line-height: 16px;
}

#menubar .menu .options {
  position: fixed;
  z-index: 1; /* higher than resizer */
  display: none;
  padding: 5px 0;
  background: #eee;
  min-width: 150px;
  max-height: calc(100vh - 80px);
  overflow: auto;
}

#menubar .menu:hover .options {
  display: block;
  box-shadow: 0 10px 10px -5px #00000033;
}

#menubar .menu .options hr {
  border-color: #ddd;
}

#menubar .menu .options .option {
  color: #666;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
}

#menubar .menu .options .option:hover {
  color: #fff;
  background-color: #08f;
}

#menubar .menu .options .option:not(.submenu-title):active {
  color: #666;
  background: transparent;
}

#menubar .menu .options .option.toggle::before {
  content: " ";
  display: inline-block;
  width: 16px;
}

#menubar .menu .options .option.toggle-on::before {
  content: "✓";
  font-size: 12px;
}

#menubar .submenu-title::after {
  content: "⏵";
  float: right;
}

#menubar .menu .options .inactive {
  color: #bbb;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
  cursor: not-allowed;
}

#leftbar {
  position: absolute;
  left: 0;
  top: 32px;
  bottom: 0;
  width: 350px;
  background: #eee;
  overflow: auto;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 32px;
  bottom: 0;
  width: 350px;
  background: #eee;
  overflow: auto;
}

#sidebar .Panel,
#leftbar .Panel {
  color: #888;
  padding: 10px;
  border-top: 1px solid #ccc;
}

#sidebar .Panel.collapsed {
  margin-bottom: 0;
}

#sidebar .Row {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 10px;
}

#sidebar .Row .Label {
  width: 120px;
}

#leftbar.vertical {
  display: flex;
}

#leftbar.vertical .Tabs.vertical {
  width: 60px;
}

#leftbar.vertical .Tabs.vertical > .Tab {
  width: 100%;
  box-sizing: border-box;
  border-right: none;
  text-align: center;
}

#leftbar.vertical .Panels.vertical {
  width: calc(100% - 60px);
}

.FlexListbox {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.FlexListbox .FlexListboxItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28%;
  height: 80px;
  margin: 2%;
  background: #fff;
  text-align: center;
}

.FlexListbox .FlexListboxItem.selected {
  border: 1px solid #aaa;
}

.FlexListbox .FlexListboxItem img {
  object-fit: contain;
  width: 100%;
  height: 70%;
}

.FlexListbox .FlexListboxItem .title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
  height: 30%;
  padding-top: 4px;
}

#tabs {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

#tabs span {
  color: #aaa;
  border-right: 1px solid #ccc;
  padding: 10px;
}

#tabs span.selected {
  color: #888;
  background-color: #eee;
}

#toolbar {
  position: absolute;
  left: 360px;
  top: 42px;
  width: 32px;
  background: #eee;
  text-align: center;
}

#toolbar button,
#toolbar input {
  height: 32px;
}

#toolbar button img {
  width: 16px;
  opacity: 0.5;
}

#viewportToolbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10px;
  display: flex;
  text-align: center;
}

#viewportToolbar button.Reset img {
  transform: rotateZ(45deg);
}
#viewportToolbar button,
#viewportToolbar input {
  height: 32px;
  cursor: pointer;
}
/* #viewportToolbar button:hover, */
#viewportToolbar button.active {
  background-color: #fff;
}
#viewportToolbar input {
  width: 12px;
  margin: 0 10px;
}

#viewportToolbar button img {
  width: 16px;
  opacity: 0.5;
}

#viewportToolbar .First {
  margin-left: 10px;
}

.Outliner {
  color: #444;
  background-color: #fff;
  padding: 0;
  width: 100%;
  height: 180px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  resize: vertical;
  outline: none !important;
}

.Outliner .option {
  padding: 4px;
  color: #666;
  white-space: nowrap;
}

.Outliner .option:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.Outliner .option.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.TabbedPanel .Tabs {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

.TabbedPanel .Tab {
  color: #aaa;
  border-right: 1px solid #ccc;
}

.TabbedPanel .Tab.selected {
  color: #888;
  background-color: #eee;
}

.Listbox {
  color: #444;
  background-color: #fff;
}

.Panel {
  color: #888;
}

/* */

@media all and (max-width: 600px) {
  #resizer {
    display: none;
  }

  #menubar .menu .options {
    max-height: calc(100% - 80px);
  }

  #menubar .menu.right {
    display: none;
  }

  #viewport {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #script {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #player {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #sidebar {
    left: 0;
    width: 100%;
    top: calc(100% - 320px);
    bottom: 0;
  }
}

/* DARK MODE */

@media (prefers-color-scheme: light) {
  button {
    color: #aaa;
    background-color: #222;
  }

  button:hover {
    color: #ccc;
    background-color: #444;
  }

  button.selected {
    color: #fff;
    background-color: #08f;
  }

  input,
  textarea {
    background-color: #222;
    border: 1px solid transparent;
    color: var(--font_color3);
  }

  select {
    color: #aaa;
    background-color: #222;
  }

  select:hover {
    color: #ccc;
    background-color: #444;
  }

  /* UI */

  #menubar {
    background: #111;
  }

  #menubar .menu .options {
    background: #111;
  }
  #menubar .menu .title {
    color: var(--font_color3);
  }

  #menubar .menu .options hr {
    border-color: #222;
  }

  #menubar .menu .options .option {
    color: var(--font_color3);
  }

  #menubar .menu .options .inactive {
    color: #444;
  }

  #sidebar,
  #leftbar {
    background-color: #111;
  }

  #sidebar .Panel,
  #leftbar .Panel {
    border-top: 1px solid #222;
  }

  #sidebar .Panel.Material canvas {
    border: solid 1px #5a5a5a;
  }

  #tabs {
    background-color: #1b1b1b;
    border-top: 1px solid #222;
  }

  #tabs span {
    color: var(--font_color5);
    border-right: 1px solid #222;
  }

  #tabs span.selected {
    background-color: #111;
  }

  #toolbar {
    background-color: #111;
  }

  #toolbar img {
    filter: invert(1);
  }

  #viewportToolbar img {
    filter: invert(1);
  }

  #viewportToolbar .First img {
    filter: none;
  }

  .Outliner {
    background: #222;
  }

  .Outliner .option {
    color: #999;
  }

  .Outliner .option:hover {
    background-color: rgba(21, 60, 94, 0.5);
  }

  .Outliner .option.active {
    background-color: rgba(21, 60, 94, 1);
  }

  .TabbedPanel .Tabs {
    background-color: #1b1b1b;
    border-top: 1px solid #222;
  }

  .TabbedPanel .Tab {
    color: var(--font_color5);
    border-right: 1px solid #222;
  }

  .TabbedPanel .Tab.selected {
    color: var(--font_color3);
    background-color: #111;
  }

  .Listbox {
    color: var(--font_color3);
    background: #222;
  }

  .Listbox .ListboxItem:hover {
    background-color: rgba(21, 60, 94, 0.5);
  }

  .Listbox .ListboxItem.active {
    background-color: rgba(21, 60, 94, 1);
  }
  .FlexListbox {
    color: var(--font_color3);
    background: #111;
  }

  .FlexListbox .FlexListboxItem:hover {
    border: 1px solid #aaa;
  }

  .FlexListbox .FlexListboxItem.active {
    /* background-color: rgba(21, 60, 94, 1); */
  }
  .FlexListbox .FlexListboxItem img {
    background-color: #222;
  }
  .FlexListbox .FlexListboxItem .title {
    background-color: #111;
  }
  .FlexListbox .FlexListboxItem {
    background-color: #222;
    border: 1px solid #111;
  }

  #menubar .menu.right button.active {
    background-color: #08f;
  }
}

/* Temporary Chrome fix (#24794) */

[draggable="true"] {
  transform: translate(0, 0);
  z-index: 0;
}
